/* Author List Started */

.wbga-author-list-wrapper {
    border: 0px solid #000;
    min-height: 100px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: max-content;
    /* OR min-content*/
}

.wbga-author-list-wrapper .wbga-author-items {
    border: 1px solid #DDD;
    min-height: 50px;
    text-align: center;
    padding: 10px;
}

.wbga-author-list-wrapper .wbga-author-items .hmcabw-image-container {
    width: 100%;
    min-height: 100px;
    padding: 0;
}

.wbga-author-list-wrapper .wbga-author-items .hmcabw-image-container img {
    margin: auto;
    width: 150px;
    height: 150px;
    border: 3px solid #ddd;
    box-shadow: .5px .5px 3px #aaaaaa;
    border-radius: 50%;
}

.wbga-author-list-wrapper .wbga-author-items .hmcabw-name {
    margin: 10px 0;
}

.wbga-author-list-wrapper .wbga-author-items .hmcabw-name a {
    font-size: 16px;
    color: #242424;
    text-decoration: none;
    line-height: 18px;
    font-weight: 600;
}

.wbga-author-list-wrapper .wbga-author-items .hmcabw-name a:hover {
    color: red;
}

.wbga-author-list-wrapper .wbga-author-items .hmcabw-info-container p {
    font-size: 12px;
    text-align: left;
}


/* Author List Ended */

.hmcabw-main-wrapper {
    border: 1px solid #DDDDDD;
    margin: 20px 0;
    background: transparent;
    padding: 5px;
}

.hmcabw-main-wrapper .hmcabw-parent-container {
    border: 0px solid #000;
    width: 100%;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    min-height: 80px;
    margin: 0;
}

.hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-image-container {
    min-width: 50px;
    border: 0px solid #009900;
    min-height: 80px;
    margin-right: 5px;
    padding: 5px 0 0 5px;
    text-align: center;
}

.hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-image-container img {
    margin: 5px auto;
}

.hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-image-container.circle img {
    border-radius: 50%;
}

.hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-info-container {
    flex: 1;
    border: 0px solid #FF0000;
    min-height: 80px;
    padding: 5px 15px;
}

.hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-info-container h3.hmcabw-name {
    border: 0px solid #000;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    color: #242424;
}

.hmcab-name-border-main {
    height: 4px;
    width: 80px;
    margin: 10px 0px;
    background-color: #999;
    border-radius: 4px;
}

.hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-info-container .hmcabw-title {
    border: 0px solid #000;
    margin: 0 0 8px 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    color: #242424;
}

.hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-info-container p.hmcabw-bio-info {
    border: 0px solid #000;
    margin: 5px 0;
    padding: 0;
    display: block;
    text-decoration: none;
}

@media(max-width:600px) {
    .wbga-author-list-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .wbga-author-list-wrapper .wbga-author-items .hmcabw-image-container.circle img {
        height: 100px;
    }
    .hmcabw-main-wrapper .hmcabw-parent-container {
        display: block;
    }
    .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-image-container,
    .hmcabw-main-wrapper.left-aligned .hmcabw-parent-container .hmcabw-image-container {
        width: 100%;
        text-align: center;
    }
    .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-image-container img {
        width: 150px;
    }
    .hmcabw-main-wrapper .hmcabw-parent-container .hmcabw-info-container {
        text-align: center;
    }
    .hmcab-name-border-main {
        margin: 10px auto;
    }
}